.Banner-main{
    height: 530px;
    border-bottom: 1px solid gainsboro;
    background-image: linear-gradient(rgb(78, 78, 78), rgb(255,255,255), rgb(255,255,255));
}

.Banner-container{
    width: 900px;
    margin: 0 auto;
}
